<h1><%= controller_name.capitalize %> List</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明</th>
      <th>タスクの状態</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td>
            <%= form_with model: todo, local: true do |form| %>
            <%= form.hidden_field :completed, value: false %>
            <%= form.check_box :completed, { checked: todo.completed }, true, false %>
            <%= form.submit '更新', class: 'btn btn-sm btn-outline-secondary' %>
            <% end %>
        </td>
        <td>
          <%= link_to '詳細', todo %>
          <%= link_to '編集', edit_todo_path(todo) %>

          <% if can?(:destroy, todo) %>
            <%= link_to '削除', todo, method: :delete, data: { turbo: false, confirm: '削除してもいいですか?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy, link_extra: 'class="border bg-white p-1 rounded"') %>

<%= link_to '新規作成', new_todo_path %>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>