<h1>Show Todo</h1>

<p>
  <strong>タイトル:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @todo.description %>
</p>

<p>
  <strong>タスクの状態:</strong>
  <%= @todo.completed? ? "完了" : "未完了" %>
</p>


<%= link_to '編集', edit_todo_path(@todo) %>
<%= link_to '一覧へ戻る', todos_path %>